@media screen and ( max-width: 768px) {
   .header {
      padding: 0 25px;
      &__phone {
         margin-bottom: 4px;
      }
   }
   .promo {
      &__wrapper {
         margin-right: 10px;
      }
   }
   .advantages {
      &__wrapper {
         margin: 0 4px;
      }
   }
   .consultation {
      padding-left: 30px;
   }

   .catalog {
      padding: 0 50px 100px 50px;
   }

   .review {
      &__img {
         margin-left: 10px;
      }
      &__text {
         margin-right: 10px;
      }
   }
   .footer__info {
      width: 390px;
      height: 170px;
   }
}

@media screen and (max-width: 575px) {
   .header {
      &__phone {
         font-size: 13px;
      }
      &__logo {
         width: 200px;
      }
      &__logo img {
         margin-left: -4px;
      }
      &__official {
         font-size: 10px;
      }
      &__official span {
         font-size: 9px;
      }
   }
   .promo {
      &__header {
         font-size: 30px;
      }
      &__subtitle {
         font-size: 15px;
      }
      &__icons {
         width: 90%;
         margin:67px auto 68px auto;
      }
   }
   .button {
      width: 119px;
      font-size: 9px;
      &_submit {
         width: 100%;
         font-size: 12px;
      }
   }
   .button_main {
      width: 163px;
      font-size: 11px;
   }
   .advantages {
      &__wrapper {
         flex-direction: column;
         align-items: center;
      } &__text {
         margin-bottom: 35px;
      }
      &__text:last-child {
         margin-bottom: 0;
      }
   }
   .title_left {
      font-size: 33px;
   }
   .consultation {
      padding-left: 10px;
   }
   .carousel {
      &__inner {
         width: 100%;
      }
   }

   .catalog {
      &__tab {
         width: 105px;

         div {
            font-size: 10px;
            font-weight: 600;
         }
      }
   }

   .review {
      &__item {
         flex-direction: column;
         margin: 0 auto;
      }

      &__text {
         margin-left: 0;
         text-align: center;
         width: 100%;
         margin-bottom: 35px;
      }
      &__img {
         display: block;
         margin: 0 auto;
         margin-bottom: 20px;
      }
      &__descr {
         font-size: 13px;
         margin-left: 15px;
         margin-right: 15px;
         text-align: left;
      }
   }
   .carousel {
      overflow: none;
      &__inner {
         img {
            width: 100%;
         }
      }
   }
   .carousel .slick-next img {
      display: none;
   }
   .footer {
      &__info {
         width: 100%;
      }
      &__phone {
         font-size: 12px;
         margin-bottom: 0;
      }
   }
}

@media screen and ( width: 320px ) {
   .catalog__tab div { 
      font-size: 8px;
   }
}